<div id="colorlib-main">
	<aside id="colorlib-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
			<% @newest_posts.each do |post| %>
			<% cache post do %>
		   	<li style="background-image: url('<%= post.image.url %>');">
		   		<div class="overlay"></div>
		   		<div class="container-fluid">
		   			<div class="row">
			   			<div class="col-md-12 col-xs-12 js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<div class="desc">
			   						<p class="tag"><span><%= post.category.name %></span></p>
				   					<h1><a><%= link_to post.title, category_post_path(post.category, post) %></a></h1>
				   					<p><%= post.description %></p>
								</div>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<% end %>
		   	<% end %>  	
		  	</ul>
	  	</div>
	</aside>


	<div class="colorlib-blog">
		<div class="container-wrap">
			<div class="row">
				<%= render "fashion", cached:true %>

				<%= render "hair", cached:true %>

				<%= render "scent", cached:true %>

				<%= render "under_categories", cached:true %>
			</div>
		</div>
	</div>			
</div>
