<div id="colorlib-main">
  <div class="colorlib-blog">
    <div class="container-wrap">
      <div class="row">
        <div class="col-md-9">
          <div class="content-wrap">
            <div class="row">
              <div class="col-md-12 animate-box">
                <h2 class="heading-2">Log in</h2>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="row form-group">
                    <div class="col-md-8">
                      <div class="col-md-2"><%= f.label :email %></div>
                      <div class="col-md-6">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email", class: "form-control", placeholder: "Your Email" %>
                      </div>
                    </div>                    
                  </div>
                  <div class="row form-group">
                    <div class="col-md-8">
                      <div class="col-md-2"><%= f.label :password %></div>
                      <div class="col-md-6">
                      <%= f.password_field :password, autocomplete: "current-password", id: "password", class: "form-control", placeholder: "Your Password" %>
                      </div>
                    </div>                    
                  </div>
                  <% if devise_mapping.rememberable? %>
                  <div class="row form-group">
                    <div class="col-md-5">
                      <div class="col-md-1"><%= f.check_box :remember_me %></div>
                      <div class="col-md-4"><%= f.label :remember_me %></div>
                    </div>
                  </div>
                  <% end %>
                  <div class="form-group">
                    <%= f.submit "Log in", class: "btn btn-primary" %>
                  </div>
                <% end %>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
