<div id="colorlib-main">
	<div class="colorlib-blog">
		<div class="container-wrap">
			<div class="row">
				<div class="col-md-9">
					<% cache @current_post do %>
					<div class="content-wrap">
						<article class="animate-box">
							<div class="blog-img" style="background-image: url('<%= @current_post.image.url %>');"></div>
							<div class="desc">
								<div class="meta">
									<p>
										<span><%= @current_post.category.name %></span>
										<span><%= @current_post.created_at.strftime(t".time") %></span>
										<span><a href="#">3 Comments</a></span>
									</p>
								</div>
								<h2><a href="single.html"><%= @current_post.title %></a></h2>
								<hr>
								<strong><%= @current_post.description %></strong>
								<hr>
								<p><%= @current_post.content.html_safe %></p>
							</div>
						</article>
						<%= render "posts/comments", cached: true %>
						<%= render "posts/form_comments", cached: true %>
					</div>
					<% end %>
				</div>
				<%= render "categories/right_bar", cached: true %>
			</div>
		</div>
	</div>
</div>
