<div class="col-md-3 sticky-parent">
	<div class="sidebar" id="sticky_item">
		<%= render "search/form", cached: true %>
		
		<% if @right_bar_posts.present? %>
		<div class="side animate-box">
		  <h2 class="sidebar-heading"><%= t".p" %></h2>
		  <% @right_bar_posts.each do |post| %>
		  <% cache post do %>
			<div class="f-blog">
				<a class="blog-img" style="background-image: url('<%= post.image.url %>');"></a>
				<div class="desc">
					<h3><a><%= link_to post.title, category_post_path(post.category, post) %></a></h3>
					<p class="admin"><span><%= post.created_at.strftime(t".time") %></span></p>
				</div>
			</div>
		  <% end %>
		  <% end %>
		</div>
		<% end %>

		<div class="side animate-box">
			<h2 class="sidebar-heading"><%= t".r" %></h2>
            <% @recent_posts.each do |post| %>
            <% cache post do %>
			<div class="f-blog">
				<a class="blog-img" style="background-image: url('<%= post.image.url %>');"></a>
				<div class="desc">
					<h3><a><%= link_to post.title, category_post_path(post.category, post) %></a></h3>
					<p class="admin"><span><%= post.created_at.strftime(t".time") %></span></p>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>

		<div class="side animate-box">
			<div class="form-group">
				<input type="text" class="form-control form-email text-center" id="email" placeholder="Enter your email">
				<button type="submit" class="btn btn-primary btn-subscribe"><%= t".s" %></button>
			</div>
		</div>
	</div>
</div>