<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
<aside id="colorlib-aside" role="complementary" class="js-fullheight">
	<h1 id="colorlib-logo"><a href="index.html">Males In Town</a></h1>
	<nav id="colorlib-main-menu" role="navigation">
		<ul>
		  <% if @current_category %>
		    <li><a><%= link_to "Home", root_path %></a></li>
		    <% @categories.each do |category| %>
		      <% if @current_category.name == category.name %>
			    <li class="colorlib-active"><a><%= link_to category.name, category_path(category) %></a></li>
		      <% else %>
			    <li><a><%= link_to category.name, category_path(category) %></a></li>
			  <% end %>
			<% end %>
		  <% else %>
			<li class="colorlib-active"><a><%= link_to "Home", root_path %></a></li>
			<% if @categories %>
			<% @categories.each do |category| %>
			  <li><a><%= link_to category.name, category_path(category) %></a></li>
			<% end %>
			<% end %>
		  <% end %>
		</ul>
	</nav>

	<div class="colorlib-footer">
		<p><small>This template is made with <i class="fas fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></small></p>
		<ul>
			<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
		</ul>
	</div>
</aside>
